
a{
 font-family: 'Lato', sans-serif;

   }
h1, h2, h3, h4, .h1, .h2, .h3, .h4{
font-family: 'orbitron', sans-serif;
 }
h1{
color: gold;
}
body{
background-color: black;
}
/*pagina annunci*/
.accordion-item, .accordion-button{
background-color: black;
color: gold;
}
.col-12 col-md-9{

color: gold;
}
.accordion-button:not(.collapsed) {
    color: rgb(221, 19, 19);
    background-color: black;
    box-shadow: none;
}
.accordion-button:focus{
box-shadow: none;
}
h3{
color: gold;
}